<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="get_url()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid-->

  <ion-grid>
    <ion-item lines="none" class="item-input">
      <ion-label class="label-login" position="stacked">Ve y agrega tu Curriculum:</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="ion-text-uppercase btn-init btn-global" (click)="curriculum()">Ir a Curriculum</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="ion-text-uppercase btn-init btn-global" (click)="uploadFiles()">Ofertas laborales</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-grid>
</ion-content>
