.label-login {

    margin-bottom: 5px;
      color: #fff;
      font-size: 14px;

}
.input-login{
	background-color: transparent;
    padding: 5px 0px !important;
    --placeholder-opacity: 0.8;
    --placeholder-color: #fff;
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}